@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  height: 100%;
  background-color: #000;
  color: rgb(201, 201, 201);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container div {
  padding: 20px 10%;
  letter-spacing: .2rem;
  text-align: center;
}

.container .name {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5rem;
}
